
@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Contact.js"></script>


<h2>ContactList</h2>

<div class="wrapper">



<table id="tblContact" class="table table-striped" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>FristName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>MobileNo</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

